/*Main page styles*/
body {
  background-color: white;
  color: black;
  text-align: center;
}

.header {
  background-color: gray;
  color: white;
}

.header a {
  color: inherit;
}


.companyDetails h2 {
  background-color: gray;
  color: white;
}

.footer {
  background-color: gray;
  color: white
}

.footer a {
  color: inherit;
}
